$margin-symbol-size: 1.5vh;
$animation-time: 0.3s;

.message {
  width: 9vw;
  height: 6vh;
  margin-top: 5vh;
  margin-bottom: 4vh;
  background-color: #ffc800;
  color: white;
  position: relative;
  float: left;
  border: none;
  border-radius: 2.5vh;
}

.pgr {
  font-size: 1.6vh;
  font-family: "Comic Sans MS", sans-serif;
  font-weight: bold;
}

.symbol {
  margin-top: $margin-symbol-size;
  margin-bottom: $margin-symbol-size;
  width: 1.5vw;
}

.message:hover .symbol {
  animation: shake $animation-time;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.message:hover .pgr {
  text-shadow: 0px 0px 1vh #ff1000;
}

.message:active {
  background-color: white;
  color: #ffc800;
}

.message:active .pgr {
  text-shadow: none;
}

@keyframes shake {

  5.5%, 55%, 49.5%, 99%, 27.5%, 77% {
    transform: rotate(0deg);
  }
  11%, 60.5%, 22%, 71.5% {
    transform: rotate(7.5deg);
  }
  16.5%, 66% {
    transform: rotate(15deg);
  }
  33%, 82.5%, 44%, 93.5% {
    transform: rotate(-7.5deg);
  }
  38.5%, 88% {
    transform: rotate(-15deg);
  }
}

